html {
    background-color: #424242;
    font-family: "Avenir Next";
    color: white;
}

img {
    height: 160px;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

textarea {
    margin: 5px;
    font-size: 16px;
}

input {
    margin: 5px;
    font-size: 16px;
}

button {
    margin: 5px;
    font-size: 16px;
    background-color: orange;
    border-radius: 20px;
    color: white;
}

button:hover {
    background-color: #d6fb81;
    color: black;
}

p {
    margin: 5px;
}

a {
    text-decoration: none;
    color: #d6fb81;
}

a:hover {
 color: orange;   
}