body {
    background: url("/img/Elegant_Background-3.jpg") no-repeat fixed;
}

.btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

#not {
    font-family: "Yellowtail";
    color: #d9534f;
}

h2 {
    color: white;
}

#locationSpan {
    color: #d9534f;
}

h1 {
    color: white;
}

.jumbotron {
   background: rgba(255, 255, 255, 0.4); 
}

p {
    color: black;
}